@model List<TheSnackHole.Models.Product>
@{
    ViewBag.Title = "Products";
}

@Html.Partial("_Message")
<h2>Products</h2>


<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2
    }

    th {
        background-color: #000000;
        color: white;
    }
</style>

<div class="pull-right">
    <a href="@Url.Action("Add")" class="btn btn-primary btn-lg">
        <span class="glyphicon glyphicon-plus"></span> Add Product
    </a>
</div>

<table>
    <tr>
        <th>
            Product
        </th>
        <th>
            Description
        </th>
        <th>
            Price
        </th>
    </tr>
    @foreach(var product in Model)
    {
        <tr>
            <td>
                @Html.Encode(product.DisplayText)
            </td>
            <td>
                @Html.Encode(product.Description)
            </td>
            <td>
                @Html.Encode(product.Price)
            </td>
        </tr>
    }
</table>