@model TheSnackHole.ViewModels.ProductsBaseViewModel

<div class="row">
    <div class="col-md-6">        
        <div class="form-group">
            @Html.LabelFor(p => p.Product.BrandId, new { @class = "control-label" })
            @Html.DropDownListFor(p => p.Product.BrandId,
            Model.BrandsSelectListItems, "", new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(p => p.Product.Name, new { @class = "control-label" })
            @Html.TextBoxFor(p => p.Product.Name, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(p => p.Product.Style, new { @class = "control-label" })
            @Html.TextBoxFor(p => p.Product.Style, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(p => p.Product.Description, new { @class = "control-label" })
            @Html.TextAreaFor(p => p.Product.Description, 14, 7, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(p => p.Product.Price, new { @class = "control-label" })
            @Html.TextBoxFor(p => p.Product.Price, new { @class = "form-control" })
        </div>
    </div>
</div>
